body {
  background-color: darkcyan;
}

h1 {
  color:black;
  font-style: italic;
  text-align: center;
}

.color {
  display: inline-block;
  padding: 40px;
  border: 1px solid black;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

#orange {
  background-color: orange;
}

#pink {
  background-color:pink;
}

#lime {
  background-color:lime;
}

#aqua {
  background-color:aqua;
}

#brown {
  background-color:brown;
}

#purple {
  background-color:darkorchid;
}

#gray {
  background-color:gray;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
}

#pixel-board {
  border-collapse: collapse;
  margin-left: 60px;
  margin: auto;
}

#color-palette {
  text-align: center;
  margin-bottom: 20px;
}

#clear-button {
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  font-size:medium;
  padding: 7px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

footer {
  bottom:0;
  font-size: large;
  left: 15px;
  margin-bottom: 10px;
  position: fixed;
}

footer > a {
  text-decoration: none;
}
